export DATABASE_URL=postgres://postgres:postgres@localhost:5432/go_escuela_lms_development
export TEST_DATABASE_URL=postgres://postgres:postgres@localhost:5432/go_escuela_lms_test
export SECRET_AUTH_KEY=secret123
